.not-installed-extension-warning {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #ffb300;
  font-size: 12px;
}

.close-icon {
  cursor: pointer;
}

.extension-link {
  color: red;
}