.main-view {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 64px);
}

.media-tracks {
  max-height: 80vh;
  // height: 50vh;
}

.room-controls {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  max-height: calc(20vh - 64px);
  height: calc(20vh - 64px);
  flex: 1;
}