.peer-section {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: thistle;
}

.video-wrapper {
  max-width: 100%;
}
